node-name: {{ k3s_agent_node_name }}
{% if k3s_agent_node_labels | length > 0 %}
node-label:
{% for label in k3s_agent_node_labels %}
  - {{ label }}
{% endfor %}
{% endif %}
{% if k3s_agent_node_taints | length > 0 %}
node-taint:
{% for taint in k3s_agent_node_taints %}
  - {{ taint }}
{% endfor %}
{% endif %}
